@model BasicMvcApp.Models.Anmalan
{
    Layout = null;
}

<!DOCTYPE html>
<h1>@ViewBag.Arne</h1>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <form action="/Home/Index" method="post" enctype="multipart/form-data" name="form1" id="form1">                
            @Html.DropDownListFor(m => m.SelectedBuildingCode, new SelectList(Model.BuildingList, "BuildingCode", "Description" ), "Välj en byggnad", new { @onchange="forms(0).submit();" }))
            <br/>
            @Html.DropDownListFor(m => m.SelectedFloorCode, new SelectList(Model.FloorList, "FloorCode", "Description" ), "Välj en våning", new { @onchange="forms(0).submit();" }))
            <br/>
            @Html.DropDownListFor(m => m.SelectedRoomCode, new SelectList(Model.RoomList, "RoomCode", "Description" ), "Välj ett rum")                   
            <br/>   
            @Html.DropDownListFor(m => m.SelectedActionCode, new SelectList(Model.ActionList, "ActionCode", "Description" ), "Välj en åtgärd")
            <br/> 
            @Html.TextAreaFor(m => m.WRDescription)
            <br/>
            <button class="button" id="@Model.WRDescription" type="submit" name="submit" value="@Model.SendRequest=true" onclick="" >Submit</button>         
        </form>
    </div>
</body>
</html>
